<mat-toolbar color="primary" role="navigation">
  <div class="grid-nav">
    <button fxHide.gt-xs mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div id="logo"><a routerLink="/">Baumkrone</a></div>
    <div fxHide.xs fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="2rem">
      <a routerLink="/spenden">SPENDEN &amp; HELFEN</a>
      <a routerLink="/">THEMEN &amp; PROJEKTE</a>
      <a routerLink="/uns">ÜBER UNS</a>
      <small><a href="#">DE</a> | <a href="#">AR</a></small>
    </div>
  </div>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/spenden">SPENDEN &amp; HELFEN</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/">THEMEN &amp; PROJEKTE</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/uns">ÜBER UNS</a>
      </mat-list-item>
      <mat-list-item>
      <a href="#"><small>DE</small></a> | <a href="#"><small>AR</small></a>
      </mat-list-item>
      <hr>
      <mat-list-item>
        <a routerLink="/lokaleGruppen">Lokale Gruppen</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/aktionen">Aktionen</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/nachhaltigLeben">Nachhaltig leben</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>