<footer>

    <div class="bg_light padding-top padding-bottom">
      <div class="grid-container">
          <div class="grid-responsive">
            <img src="../assets/unsere-erde.png" alt="Wir schützen unsere Erde">
          </div>
    
              <div class="slogan grid-responsive">
                  <p>UNSERE <br/>ERDE</p>
                  <p>UNSER <br/>ZUHAUSE</p>
                  <p class="logo_invertiert">Baumkrone</p>
              </div>
         
      </div>
  </div>

    <div class="bg_dark">
      <div class="grid-container">
              <ul>
                  <li><a routerLink="/impressum">Impressum</a></li>
                  <li class="padding-left"><a routerLink="/kontakt">Kontakt</a></li>
                  <li class="padding-left"><a routerLink="/datenschutz">Datenschutz</a></li>
              </ul>
      </div>
  </div>

</footer>
