<section class="grid-2">
    <div class="margin-bottom" fxLayout="column">
        <div>
            <h2 class="margin-top">Kurze Einführung</h2>
            <p>Kohlenstoffdioxid (CO<small>2</small>), allgemeinsprachlich Kohlendioxid, ist als Spurengas mit einem Volumenanteil von etwa 0,04 % (etwa 400 ppm) in der Erdatmosphäre enthalten. Derzeit steigt dieser Wert mit einer Rate von 2 bis 3 ppm pro Jahr weiter an. </p>
            <p>Gegenüber dem vorindustriellen Niveau von 280 ppm führten die bisher durch den Menschen erzeugten CO<small>2</small>-Emissionen bereits zu einer Erhöhung der atmosphärischen Konzentration von über <strong>40 %</strong>.</p>
        </div>
    </div>
</section>