<section class="bg_dark padding-bottom padding-top" id="fakten">
    <div class="grid-container-1">
        <h2>schlechtester CO<small>2</small>-Footprint</h2>
        <h3>Emission in Millionen Tonnen CO<small>2</small></h3>

            <div class="grid-responsive">
                <h4>Schlechtesten 3 Länder</h4>
                <ul>
                    <li>China<span class="light_blue"> (11.680,42)</span></li>
                    <li>Vereinigte Staaten<span class="light_blue"> (4.535,30)</span></li>
                    <li>Indien<span class="light_blue"> (2.411,73)</span></li>
                </ul>
            </div>
            <div class="grid-responsive">
                <h4>Schlechtesten 3 Unternehmen</h4>
                <ul>
                    <li>Huaneng Power International <span>(416,990)</span></li>
                    <li>Datang International Power <span>(325,680)</span></li>
                    <li>China Guodian Corporation <span>(312,980)</span></li>
                </ul>
            </div>

    </div>
</section>