<div  id="ar" class="bg_light no-padding">
    <div class="grid-container bg_light">
        <ul>
            <li><a routerLink="/lokaleGruppen">Lokale Gruppen</a></li>
            <li class="padding-left"><a routerLink="/aktionen">Aktionen</a></li>
            <li class="padding-left"><a routerLink="/nachhaltigLeben">Nachhaltig leben</a></li>
        </ul>
    </div>
  </div>
  
<div class="bg_light no-padding">
    <div class="grid-container hero-image">
        <h1>CO<small>2</small>-Footprint</h1>
        <h3>nach unternehmen &amp; land</h3>
    </div>
</div>
<app-teaser></app-teaser>
<app-vergleich></app-vergleich>
<app-tabelle></app-tabelle>
<app-zitat></app-zitat>
<app-footer></app-footer>