th, td {
    font-family: 'Noto Sans', sans-serif;
    color: #003366;
    font-weight: normal;
    font-size: 1rem;
}
th {
    font-weight: 700;
}
#tabelle a {
    color: #8D6E63;
}
#tabelle a:hover, #tabelle a:active {
    color:#66CCFF;
}
#tabelle, table, mat-paginator {
    background-color: #fafafa;
}
mat-paginator {
    padding-top: 1rem;
}
table {
    width: 100%;
  }
.mat-mdc-form-field {
    font-size: 1rem;
    width: 100%;
  }
.mat-cell {
    padding-top: 2rem;
}