/* Angular Material Theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Allgemein */
html, body {
    font-family: 'Noto Sans', sans-serif;
    color: #003366;
    font-weight: normal;
    font-size: 1.125rem;
    padding: 0;
    height: 100%;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover, a:active {
    color:#66CCFF;
}

/* Überschriften / Text */
h1, h2, h3 {
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
h1 {
    font-size: 3rem;
    padding-top: 3rem;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 0.4rem;
}
h3 {
    font-size: 1.8rem;
    font-weight: 400;
}
h4 {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 0.7rem;
}
p {
    line-height: 1.6;
}

/* Abstand */
.margin-top {
    margin-top: 4rem;
  }
.margin-bottom {
    margin-bottom: 4rem;
}
.padding-top {
    padding-top: 4rem;
}
.padding-bottom {
    padding-bottom: 4rem;
}
.padding-left {
    padding-left: 2rem;
}

/* Grid Layout */
.grid-nav {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.grid-container-1, .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.grid-container, .grid-1 {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.grid-2 {
    max-width: 760px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Hintergrund-Farben */
.bg_dark {
    background-color: #003366;
}
.bg_light {
    background-color: #66CCFF;
}
.bg_braun {
    background-color: #8D6E63;
}

/* Hero Unit */
#hero li {
    list-style: none;
    display: inline-block;
}
#hero ul {
    margin: 0;
    padding: 0.7rem 0 0;
    text-align: right;
}
#hero a {
    font-family: 'Oswald', sans-serif;
    color: #003366;
    padding-top: 0.7rem;
}
.no-padding {
    padding-bottom: 0;
} 
.hero-image {
    background-image: url("../../baumkrone/src/assets/hero-image.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 70%;
    height: 26rem;
}
#hero a:hover, #hero a:active {
    color: #8D6E63;
}

/* Vergleich */
#fakten ul {
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#fakten ul li::before {
    content: "\2022";
    color: #07E17A;
    display: inline-block;
    width: 1em;
  }
  #fakten h2, #fakten h3, #fakten span {
    color: #66CCFF;
}

/* Zitat */
#zitat {
    color: #fff;
}
blockquote {
    font-size: 2rem;
    font-style: italic;
    margin: 0;
    line-height: 1.4;
}
cite {
    text-align: right;
}

/* Footer */
footer .bg_dark {
    padding: 1rem 0;
}
footer {
    color: rgba(255,255,255,0.7);
}
footer li {
    list-style: none;
    display: inline-block;
}
footer ul {
    padding: 0;
}
img {
    max-width: 70%;
    height: auto;
    padding-bottom: 1rem;
}
.slogan p {
    text-align: right;
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
    color: #003366;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
}
.slogan p:first-child {
    padding-bottom: 0.5rem;
}
p.logo_invertiert {
    font-family: 'Permanent Marker', sans-serif;
    color: #fff;
    padding-top: 1.5rem;
}
footer ul {
   text-align: center;
   font-size: smaller;
}
.grid-responsive {
    width: 50%;
    display: inline-block;
}

#mat-paginator-page-size-label-0 {
    visibility: hidden;
}

/* Responsive Design */
@media (max-width: 900px) {

    /* Überschriften / Text */
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.125rem;
    }
    /* Abstand */
    .margin-top {
        margin-top: 3rem;
      }
    .margin-bottom {
        margin-bottom: 3rem;
    }
    .padding-top {
        padding-top: 3rem;
    }
    .padding-bottom {
        padding-bottom: 3rem;
    }

    /* Grid Layout */
    .grid-responsive {
        width: 100%;
    }

    /* Hero Unit */
    .hero-image {
        background-image: url("../../baumkrone/src/assets/hero-image.png");
        height: 20rem;
        background-size: 95%;
    }

     /* Footer */
     img {
        max-width: 100%;
    }
    .slogan p {
        font-size: 2.5rem;
        text-align: center;
    }
    #hero .padding-left {
       padding-left: 0.7rem;
    }
}